<div
  class="mx-auto px-2 md:py-2 lg:px-8 lg:py-0 flex items-center flex-col md:flex md:flex-row gap-5"
>
  <div
    class="left flex flex-col justify-center w-fit md:w-[50%] lg:w-[25%] shadow-2xl my-5 rounded-xl"
  >
    <div
      class="call flex flex-col gap-4 border-b-2 border-[var(--main-color)] p-5 w-fit"
    >
      <div class="flex items-center gap-3">
        <i
          class="fa-solid fa-phone bg-[var(--main-color)] text-white rounded-full p-2"
        ></i>
        <p class="font-bold">Call Us</p>
      </div>
      <div class="text flex flex-col">
        <p>We are available 24/7, 7 days a week.</p>
        <span class="font-semibold mt-2">Phone: +201050102929</span>
      </div>
    </div>

    <div class="write w-fit flex flex-col gap-4 p-5">
      <div class="flex items-center gap-3">
        <i
          class="fa-solid fa-phone bg-[var(--main-color)] text-white rounded-full p-2"
        ></i>
        <p class="font-bold">Write To US</p>
      </div>
      <div class="text flex flex-col">
        <p>Fill out our form and we will contact you within 24 hours.</p>
        <span class="font-semibold mt-2">Emails: fcb6480&#64;gmail.com</span>
      </div>
    </div>
  </div>
  <div
    class="right w-full md:w-[50%] lg:w-[75%] shadow-2xl my-5 rounded-xl px-5 py-10"
  >
    <h2 class="capitalize font-bold text-2xl mb-5 text-center">
      feel free to contact us anytime
    </h2>
    <form>
      <div class="mx-0 mb-1 sm:mb-4">
        <input
          type="text"
          placeholder="Your Name*"
          class="mb-2 w-full rounded-md px-4 py-2 shadow-md bg-[#F5F5F5] outline-none focus:border-[var(--main-color)] focus:border"
        />
      </div>
      <div class="mx-0 mb-1 sm:mb-4">
        <input
          type="email"
          id="email"
          autocomplete="email"
          placeholder="Your Email*"
          class="mb-2 w-full rounded-md px-4 py-2 shadow-md bg-[#F5F5F5] outline-none focus:border-[var(--main-color)] focus:border"
          name="email"
        />
      </div>
      <div class="mx-0 mb-1 sm:mb-4">
        <textarea
          id="textarea"
          name="textarea"
          cols="30"
          rows="5"
          placeholder="Write your message..."
          class="mb-2 w-full rounded-md px-4 py-2 shadow-md bg-[#F5F5F5] outline-none focus:border-[var(--main-color)] focus:border"
        ></textarea>
      </div>
    </form>
    <div class="text-right">
      <button
        type="submit"
        class="w-fit bg-[var(--main-color)] cursor-pointer text-white px-6 py-3 font-xl rounded-md sm:mb-0"
      >
        Send Message
      </button>
    </div>
  </div>
</div>
