<div class="mx-auto px-2 md:py-2 lg:px-8 lg:py-0 my-10">
  <!-- wishlist -->
  <div class="wishlist">
    <h2 class="text-xl font-semibold text-gray-900">Wishlist (1)</h2>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5"
    >
      <div class="shadow-2xl my-5">
        <a>
          <img
            class="rounded-t-lg w-full"
            src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg"
            alt=""
          />
        </a>
        <div class="py-5 px-3">
          <h5 class="mb-2 text-2xl font-bold">Product Name</h5>
          <p class="mb-3 font-normal">Product Price</p>
        </div>
        <button
          class="w-full cursor-pointer font-semibold bg-[var(--main-color)] text-white px-5 py-2 rounded-b-2xl"
        >
          Add To Cart
        </button>
      </div>
    </div>
  </div>
  <!-- Just For You -->
  <div class="recommendation my-10">
    <h2
      class="py-0.5 pl-5 relative text-2xl font-semibold text-gray-900 before:absolute before:bg-[var(--main-color)] before:content-[''] before:h-full before:w-3.5 before:rounded before:left-0"
    >
      Just For You (Recommendation)
    </h2>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5"
    >
      <div class="shadow-2xl my-5 relative">
        <button
          class="absolute outline-0 right-2 top-2 bg-white px-2 py-1 border-2 border-transparent font-bold rounded-full cursor-pointer hover:text-red-600"
        >
          <i class="fa-regular fa-heart text-xl"></i>
        </button>
        <a>
          <img
            class="rounded-t-lg w-full"
            src="https://image-processor-storage.s3.us-west-2.amazonaws.com/images/3cf61c1011912a2173ea4dfa260f1108/halo-of-neon-ring-illuminated-in-the-stunning-landscape-of-yosemite.jpg"
            alt=""
          />
        </a>
        <div class="py-5 px-3">
          <h5 class="mb-2 text-2xl font-bold">Product Name</h5>
          <p class="mb-3 font-normal">Product Price</p>
        </div>
        <button
          class="w-full cursor-pointer font-semibold bg-[var(--main-color)] text-white px-5 py-2 rounded-b-2xl"
        >
          Add To Cart
        </button>
      </div>
    </div>
  </div>
</div>

